body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2A2C24;
  accent-color: #575A4B;
  color: #816C61;
  
}

.container {
    width: 80%;
    max-width: 600px;
   
}